body {
  text-align: center;
  background-color: #fafafa;
  /*font-family: 'Revalia', cursive;*/
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

header{
  width: 940px;
  display: inline-block;
  /*border: 2px solid black;*/
  margin: 5px;
  border-radius: 10px;
  /*background: black;*/
  color: #333;
}

ul{
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 60px;
  letter-spacing: 5px;
  color: #333;
  margin-top: 15px;
  padding: 0;
}

h2 {
  font-size: 18px;
}

p {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 800;
}

.grid {
  width: 950px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

ul {
  margin: 0 auto;
  display: inline-block;;
}

.number, .operator, .eq{
  color: #777;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 10px;
  font-size: 30px;
  background: #f2f2f2;
  font-weight: 800;
  cursor: pointer;
  /*background: -webkit-radial-gradient(white, grey, black);*/
  /*background: -o-radial-gradient(white, grey, black);*/
  /*background: -moz-radial-gradient(white, grey, black);*/
  /*background: radial-gradient(white, grey, black);*/
}

.number{
  margin: 5px;
  height: 100px;
  width: 100px;
  line-height: 100px;
}

.operator {
  margin: 5px;
  height: 220px;
  width: 220px;
  line-height: 200px;
  font-size: 100px;
}

.eq{
  width: 460px;
  height: auto;
  font-size: 42px;
  padding: 10px 40px;
}

.eq:hover, .eq:active, .number:hover, .number:active, .operator:hover, .operator:active, .play:hover, .play:active{
  /*color: white;*/
  /*background: black;*/
  background: #9999ff;
  cursor: pointer;
}

.right{
  float: right;
}

.left{
  float: left;
}

.scoreboard_level, .scoreboard_score, .time, .target, .attempt, .total_score{
  height: 168px;
  width: 200px;
  border: 2px solid #f2f2f2;
  margin-top: 5px;
  border-radius: 10px;
  color: white;
  opacity: .8;
}

.start{
  height: 100px;
  width: 950px;
  border: 2px solid #f2f2f2;
  margin-top: 5px;
  border-radius: 10px;
  color: white;
  background: #9999ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}



  .time             { background: #378B2E; }
  .target           { background: #AA3939; }
  .attempt          { background: #D1721E; }
  .total_score      { background: #69198B; }
  .scoreboard_level { background: #D1C71E; }
  .scoreboard_score { background: #1A5C86; }
