body {
  text-align: center;
  background-color: grey;
  font-family: 'Revalia', cursive;
  color: black;
}

header{
  width: 940px;
  display: inline-block;
  border: 2px solid black;
  margin: 5px;
  border-radius: 10px;
  background: black;
  color: grey;
}

ul{
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
}

p {
  font-size: 30px;
}

.grid {
  width: 950px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

ul {
  margin: 0 auto;
  display: inline-block;;
}

.number, .operator, .eq{
  border: 2px solid black;
  display: inline-block;
  border-radius: 10px;
  font-size: 30px;
  background: white;
  background: -webkit-radial-gradient(white, grey, black);
  background: -o-radial-gradient(white, grey, black);
  background: -moz-radial-gradient(white, grey, black);
  background: radial-gradient(white, grey, black);
}

.number{
  margin: 5px;
  height: 100px;
  width: 100px;
  line-height: 100px;
}

.operator {
  margin: 5px;
  height: 220px;
  width: 220px;
  line-height: 200px;
  font-size: 100px;
}

.eq{
 width: 460px;
 height: auto;
 font-size: 42px;
 padding: 10px 40px;
}

.eq:hover, .eq:active, .number:hover, .number:active, .operator:hover, .operator:active{
 color: white;
 background: black;
 curser: hand;
}

.right{
  float: right;
}

.left{
  float: left;
}

.scoreboard_level, .scoreboard_score, .time, .target, .attempt, .total_score{
  height: 168px;
  width: 200px;
  border: 2px solid black;
  margin-top: 5px;
  border-radius: 10px;
  background: black;
  color: white;
}
